@model InfoResourcesWebApplication.ResourceType

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ResourceType</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResourceTypeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResourceTypeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResourceTypeDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResourceTypeDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ResourceTypeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
