@model IEnumerable<InfoResourcesWebApplication.ResourceType>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ResourceTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResourceTypeDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ResourceTypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ResourceTypeDescription)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ResourceTypeId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ResourceTypeId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ResourceTypeId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="container">
    <div id="chart_types"></div>
</div>
@section scripts{
    <script type "text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            $.get('/api/Charts/JsonTypeStats', function(JsonData) {
                data = google.visualization.arrayToDataTable(JsonData, false);
                var option = {
                    title: "Співвідношення кількості книжок та категорій",
                    width: 500,
                    height: 400
                };
                chart = new google.visualization.PieChart(document.getElementById('chart_types'));
                chart.draw(data, option);
            })
        }
    </script>
}
