@model IEnumerable<InfoResourcesWebApplication.Resource>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ResourceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ResourceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeNavigation.ResourceTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorNavigation.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ResourceId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ResourceId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ResourceId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<!-- Import -->
<div>
    <h3>Оберіть excel-файл для заватаження</h3>
    @using (Html.BeginForm("Import", "Resources", FormMethod.Post, new { enctype = "multipart/form-data", id = "frm-excel" }))
    {
        <div>
            Завантажте Excel-файл:
            <input type="file" name="fileExcel" id="fileExcel" />
            <div>
                <input type="submit" value="Завантажити" />
            </div>
        </div>
    }
</div>

<!--Export-->
<div>
    <h3>Завантаження інформації в файл</h3>
    <a asp-action="Export">Завантажити</a>
</div>